/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.footer {
	clear: both;
}

.profile_content {
	width: 65%;
}

.profile {
	float: left;
}

.profile_avatar_pos {
	float: left;
}

.profile_info_pos {
	float: left;
	margin-left: 20px;
}

.avatar {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

.avatar_list {
	max-width: 90px;
	max-height: 90px;
	width: auto;
	height: auto;
}

.pictures img {
	height: 500px;
	width: 500px;
}

.bannerImg {
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

.smallText {
	font-size: small;
}